.navi-container__div,
.navi-center-directions-container__div,
.navi-directions-left-container__ul,
.navi-directions-right-container__ul
{
    display: flex;
    justify-content: space-around;
}

.navi-container__div {
    flex-wrap: wrap;
}

.navi-search-container__div {
    display: flex;
    width: 100%;
}

.navi-search__input {
    width: 100%;
    margin: 0 2rem;
    border: none;
}

.navi-search__input:focus {
    outline: none;
}

.navi-search-cancel__button {
    border: none;
    background-color: transparent;
    font-size: 1.6rem;
}

.navi-directions-left-container__ul,
.navi-directions-right-container__ul {
    list-style: none;
}

.navi-directions-left-container__ul li,
.navi-directions-right-container__ul li{
    margin: 0.7rem 1.5rem;
}

.navi-directions-left-container__ul li a,
.navi-directions-right-container__ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.navi-right-account-cart-container__div a {
    text-decoration: none;
    color: black;
    margin-left: 2rem;
}

.navi-right-account-cart-container__div a:link,
.navi-right-account-cart-container__div a:visited,
.navi-right-account-cart-container__div a:hover,
.navi-right-account-cart-container__div a:active {
    color: black;
}

.navi-detail-container--scroll-down__div {
    flex-basis: 100%;
    /*transform: scaleY(1);*/
    transition-duration: 0.3s;
}

.navi-directions__a--addUnderline:hover .navi-detail-container--scroll-down__div {
    opacity: 1;
    transform:scaleY(1);
    height: auto;
}